[submodule "talks/bernstein-2015/reveal.js"]
	path = talks/bernstein-2015/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "videos/onlinebrainintensive-2017"]
	path = videos/onlinebrainintensive-2017
	url = ./videos/onlinebrainintensive-2017
[submodule "bernstein-2018-gofair"]
	path = talks/bernstein-2018-gofair
	url = https://github.com/psychoinformatics-de/talk-datalad-gofair/
