[submodule "talks/bernstein-2015/reveal.js"]
	path = talks/bernstein-2015/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "videos/onlinebrainintensive-2017"]
	path = videos/onlinebrainintensive-2017
	url = https://github.com/datalad/videos-onlinebrainintensive-2017
[submodule "bernstein-2018-gofair"]
	path = talks/bernstein-2018-gofair
	url = https://github.com/psychoinformatics-de/talk-datalad-gofair/
[submodule "talks/openneuro-2018"]
	path = talks/openneuro-2018
	url = https://github.com/datalad/talk-openneuro-2018
[submodule "talks/2019-mila"]
	path = talks/2019-mila
	url = http://github.com/datalad/talk-2019-mila
[submodule "talks/2022-abcd"]
	path = talks/2022-abcd
	url = http://github.com/datalad/talk-2022-abcd
[submodule "talks/talk-fosdem-2020"]
	path = talks/talk-fosdem-2020
	url = https://github.com/datalad/talk-fosdem-2020
	branch = master
	datalad-id = 12eab246-4277-11ea-b81b-f0d5bf7b5561
[submodule "comics/whiteboard-comics"]
	path = comics/whiteboard-comics
	url = https://github.com/jsheunis/whiteboard-comics.git
